<div>This is the materias-create view.</div>
<div class="fond">
        <div class="content-agileits">
        <h1 class="title">Por favor registre su materia</h1>
        <div class="left">
            <form data-toggle="validator">
                <div class="form-group">
                    <label for="firstname" class="control-label">Nombre</label>
                    <input ng-model="vm.materias.nombre" type="text" class="form-control" id="firstname" placeholder="nombre de la materia" data-error="Nombre invalido" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="descipcion" class="control-label">Descripcion</label>
                    <input ng-model="vm.materias.descripcion" type="text" class="form-control" id="firstname" placeholder="descipcion de la materia" data-error="descipcion invalido" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="cupos" class="control-label">cupos</label>
                    <input ng-model="vm.materias.cupos" type="text" class="form-control" id="firstname" placeholder="cantidad de cupos de la materia" data-error="cupos invalido" required>
                    <div class="help-block with-errors"></div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-lg" ng-click="vm.createMaterias()">crear</button>
                </div>
            </form>
        </div>
        <div class="right"></div>
        <div class="clear"></div>
    </div>
    </div>
    