<!--div class="container">
	<div class="row">
		<div class="col-md-10">
			
			<h2>'REGISTRESE</h2>
			<form name="" ng-submit="vm.createUser()">

			<label for="">Nombres</label>
 				 <input type="text" ng-model="vm.usuario.nombres">
		
			<label for="">Apellidos</label>
				<input type="text" ng-model="vm.usuario.apellidos">

			<label for="">Documento</label>
				<input type="text" ng-model="vm.usuario.documento">

			<label for="">Correo</label>
				<input type="text" ng-model="vm.usuario.email">

			<!--label for="">estado</label>
				<input type="text" ng-model="vm.usuario.estado"-->

			<!--label for="">Contraseña</label>
				<input type="number" ng-model="vm.usuario.password">

			<button type="submit">Registrar</button>
				
			</form>
		</div>
	</div>

</div-->

    <div class="fond">
        <div class="content-agileits">
        <h1 class="title">Por favor Registrese</h1>
        <div class="left">

            <form data-toggle="validator" ng-submit="vm.createUser()">

                <div class="form-group">
                    <label for="nombre" class="control-label">Nombre:</label>
                    <input ng-model="vm.usuario.nombres" type="text" class="form-control" placeholder="Ingrese sus nombres" data-error="Enter Your First Name" required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="apellidos" class="control-label">Apellidos:</label>
                    <input ng-model="vm.usuario.apellidos" type="text" class="form-control" placeholder="Ingrese sus apellidos" data-error="Enter Your Last Name" required>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group">
                    <label for="email" class="control-label">Correo:</label>
                    <input ng-model="vm.usuario.email" type="email" class="form-control" id="Correo" placeholder="Ingrese su correo" data-error="This email address is invalid" required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="documento" class="control-label">Documento:</label>
                    <input ng-model="vm.usuario.documento" type="text" class="form-control"  placeholder="Ingrese su numero de documento" data-error="Enter Your Number Document" required>
                    <div class="help-block with-errors"></div>
                </div>

                
		<div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" ng-model="vm.usuario.password" class="form-control"  placeholder="contraseña" data-error="Enter Your password" required>
                    <div class="help-block with-errors">Maximo  6 caracteres</div>
                </div>
		
                
                <div class="form-group">
                    <button type="submit" class="btn btn-lg">Registrar</button>
                </div>
            </form>
        </div>
        <div class="right"></div>
        <div class="clear"></div>
    </div>
    </div>
    
