.txt-rt
    text-align right

.txt-lt
    text-align left

.txt-center
    text-align center

.float-rt
    float right

.float-lt
    float left

.clear
    clear both

.pos-relative
    position relative

.pos-absolute
    position absolute

.vertical-base
    vertical-align baseline

.vertical-top
    vertical-align top

nav
    &.vertical
        ul
            li
                display block
    &.horizontal
        ul
            li
                display inline-block

img
    max-width 100%

.fond
    background url(../assets/form/content.jpg) no-repeat
    background-position center
    background-attachment fixed
    background-size 100% 100%
    -webkit-background-size 100% 100%
    -moz-background-size 100% 100%
    -o-background-size 100% 100%
    -ms-background-size 100% 100%
    font-family 'Source Sans Pro', sans-serif

h1
    &.title
        text-align center
        font-size 2.5em
        letter-spacing 2px
        padding 0.5em 0
        color #fff
        background rgba(0, 0, 0, 0.4)
        text-transform uppercase

label
    &.control-label
        color #000
        margin-bottom 10px
        font-style italic
        font-size 0.9em
        letter-spacing 1px
        text-transform uppercase
    &.w3layouts
        display inline-block
        background #fff
        padding 0.5em 0
        margin-left 2em
        font-size 1em
        color #100d0d
        cursor pointer

form-group
    &.field
        margin-bottom 0

.help-block
    color #fb0000
    &.with-errors
        color #dc423f

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label
    color #000

.content-agileits
    width 67%
    margin 3em auto
    button
        &.btn
            &.btn-lg
                width 100%
                height 45px
                margin 0 auto
                text-align center
                float none
                color #fff
                font-size 17px
                font-weight 600
                letter-spacing 1px
                display block
                border-radius 0
                -webkit-border-radius 0
                -moz-border-radius 0
                -o-border-radius 0
                -ms-border-radius 0
                background #890f0a
                transition all 0.5s ease-in-out
                -webkit-transition all 0.5s ease-in-out
                -moz-transition all 0.5s ease-in-out
                -o-transition all 0.5s ease-in-out
                -ms-transition all 0.5s ease-in-out
                text-transform uppercase

.left
    width 50%
    float left
    padding 2em
    background #fff

.right
    float left
    width 50%
    background url(../assets/form/bg1.jpg) no-repeat center
    min-height 663px
    background-size cover

input#firstname,
input#lastname,
input#inputEmail,
input#Phone,
input#inputPassword,
input#NumberDocument
    border-radius 0
    -webkit-border-radius 0
    -moz-border-radius 0
    -o-border-radius 0
    -ms-border-radius 0

input#firstname,
input#lastname,
input#inputEmail,
input#Phone
input#NumberDocument
    width 100%
    height 45px
    font-size 16px
    border 1px solid #337ab7
    font-weight normal
    color #000

input#inputPassword,
input#inputPasswordConfirm
    width 100%
    height 45px
    font-size 16px
    font-weight normal
    color #000
    border 1px solid #337ab7

.w3ls-opt
    input[type="radio"]
        margin-right 0.5em

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
    background #890f0a
    opacity 0.7

p
    &.copyright-w3ls
        text-align center
        font-size 1em
        font-weight normal
        padding 0 0 2em 0
        color #000
        letter-spacing 1px
        a
            color #000
            text-decoration underline
            &:hover
                color #ff4200