.icon1
    margin 0 0 1em
    background rgba(249, 246, 246, 0.27)
    padding .6em
    border-bottom 1px solid #29fba4
    i
        &.fa
            font-size 1em
            color #FFF
            margin .3em .6em 0 0

.videologin
    padding 2em
    margin 1em auto
    float left
    width 50%
    input[type="submit"]
        background #673AB7
        color #fff
        font-size 1.3em
        padding .3em 1.2em
        width 54%
        letter-spacing 1px
        transition 0.5s all
        -webkit-transition 0.5s all
        -moz-transition 0.5s all
        -o-transition 0.5s all
        font-family 'Tenali Ramakrishna', sans-serif
        cursor pointer
        outline none
        border none
    input[type="submit"]:hover
        background rgba(255, 255, 255, 0.48)
        color #04d07b
        letter-spacing 5px
        transition 0.5s all
        -webkit-transition 0.5s all
        -moz-transition 0.5s all
        -o-transition 0.5s all

.main-agileinfo
    width 55%
    margin 0em auto 2em
    padding-left 1em
    background rgba(0, 0, 0, 0.46)
    border 1px solid rgba(255, 255, 255, 0.16)

.contact-w3left
    background url(../images/8.png)no-repeat right 0px
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    min-height 550px
    float left
    width 34%

h2
    &.sub-head
        color #fff
        font-size 2.6em
        margin-bottom .2em

.anim
    font-size 1.1em
    letter-spacing 1px
    color #fff
    cursor pointer
    margin .8em 0 1em
    display inline-block
    float left

.sign-up
    margin 2em 0
    position relative
    &:before
        content " "
        background rgba(255, 255, 255, 0.86)
        width 100%
        height 1px
        position absolute
        top 53%
        left 0
        z-index -9
    h5
        font-size 1.4em
        color #000
        text-align center
        background #fff
        width 35px
        height 35px
        line-height 1.8em
        border-radius 50%
        margin 0 auto

::-webkit-input-placeholder
    color #fff

:-moz-placeholder
    color #fff

::-moz-placeholder
    color #fff

:-ms-input-placeholder
    color #fff

.videologin input[type="password"], .videologin input[type="email"]
    outline none
    font-size 1em
    letter-spacing 1px
    color #fff
    padding .1em 1em
    border none
    border-left 1px solid #fff
    width 80%
    display inline-block
    font-family 'Tenali Ramakrishna', sans-serif
    background transparent

.social-wthree-icons
    &.bnragile-icons
        ul
            li
                display inline-block
    ul
        li
            text-align center
            a
                &.fa
                    font-size 1em
                    color #fff
                    line-height 2em
                    display inline-block
                    -webkit-transition .5s all
                    -moz-transition .5s all
                    -o-transition .5s all
                    -ms-transition .5s all
                    transition .5s all
                    &.facebook
                        &:hover
                            color #3b5998
                    &.twitter
                        &:hover
                            color #4099ff
                    &.googleplus
                        &:hover
                            color #d34836
                    &.dribbble
                        &:hover
                            color #ec4a89

.icon-border
    position relative
    &::before
        z-index 1
        -webkit-transition box-shadow 0.3s
        -moz-transition box-shadow 0.3s
        -o-transition box-shadow 0.3s
        -ms-transition box-shadow 0.3s
        transition box-shadow 0.3s
    &.facebook
        &::before
            -webkit-box-shadow inset 0 0 0 48px #3b5998
            -moz-box-shadow inset 0 0 0 48px #3b5998
            -o-box-shadow inset 0 0 0 48px #3b5998
            -ms-box-shadow inset 0 0 0 48px #3b5998
            box-shadow inset 0 0 0 48px #3b5998
        &:hover
            &::before
                -webkit-box-shadow inset 0 0 0 2px #3b5998
                -moz-box-shadow inset 0 0 0 2px #3b5998
                -o-box-shadow inset 0 0 0 2px #3b5998
                -ms-box-shadow inset 0 0 0 2px #3b5998
                box-shadow inset 0 0 0 2px #3b5998
    &.twitter
        &::before
            -webkit-box-shadow inset 0 0 0 48px #4099ff
            -moz-box-shadow inset 0 0 0 48px #4099ff
            -o-box-shadow inset 0 0 0 48px #4099ff
            -ms-box-shadow inset 0 0 0 48px #4099ff
            box-shadow inset 0 0 0 48px #4099ff
        &:hover
            &::before
                -webkit-box-shadow inset 0 0 0 2px #4099ff
                -moz-box-shadow inset 0 0 0 2px #4099ff
                -o-box-shadow inset 0 0 0 2px #4099ff
                -ms-box-shadow inset 0 0 0 2px #4099ff
                box-shadow inset 0 0 0 2px #4099ff
    &.googleplus
        &::before
            -webkit-box-shadow inset 0 0 0 48px #d34836
            -moz-box-shadow inset 0 0 0 48px #d34836
            -o-box-shadow inset 0 0 0 48px #d34836
            -ms-box-shadow inset 0 0 0 48px #d34836
            box-shadow inset 0 0 0 48px #d34836
        &:hover
            &::before
                -webkit-box-shadow inset 0 0 0 2px #d34836
                -moz-box-shadow inset 0 0 0 2px #d34836
                -o-box-shadow inset 0 0 0 2px #d34836
                -ms-box-shadow inset 0 0 0 2px #d34836
                box-shadow inset 0 0 0 2px #d34836
    &.dribbble
        &::before
            -webkit-box-shadow inset 0 0 0 48px #ec4a89
            -moz-box-shadow inset 0 0 0 48px #ec4a89
            -o-box-shadow inset 0 0 0 48px #ec4a89
            -ms-box-shadow inset 0 0 0 48px #ec4a89
            box-shadow inset 0 0 0 48px #ec4a89
        &:hover
            &::before
                -webkit-box-shadow inset 0 0 0 2px #ec4a89
                -moz-box-shadow inset 0 0 0 2px #ec4a89
                -o-box-shadow inset 0 0 0 2px #ec4a89
                -ms-box-shadow inset 0 0 0 2px #ec4a89
                box-shadow inset 0 0 0 2px #ec4a89

.icon
    vertical-align top
    overflow hidden
    margin 0 6px
    width 35px
    height 35px

.icon-border::before,
.icon-border::after
    display block
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    content ""

.copyw3-agile
    p
        text-align center
        color #fff
        letter-spacing 2px
        font-size 1.3em
        padding .5em 0
        a
            color #04d07b
            transition 0.5s all
            -webkit-transition 0.5s all
            -moz-transition 0.5s all
            -o-transition 0.5s all
            &:hover
                color #fff
                transition 0.5s all
                -webkit-transition 0.5s all
                -moz-transition 0.5s all
                -o-transition 0.5s all
.login-title
    font-size 4em
    text-align center
    font-family 'Tenali Ramakrishna', sans-serif
    letter-spacing 4px
    padding .5em 0
    line-height 1.2
.Body
    font-family 'Tenali Ramakrishna', sans-serif
    background url(https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center fixed
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover
    text-align center
    height 675px